.show-more-button {
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  outline: none;
}

.show-more-button:hover,
.show-more-button:focus,
.show-more-button:active {
  border-bottom: 2px solid #b8ffec;
}

.show-more-button__img {
  width: 8px;
  height: 11px;
  margin-right: 7px;
}
